- hosts: K8s_Servers
  any_errors_fatal: true
  become: yes
  tasks:
#   - name: prepare
#     shell: " {{ item }}"
#     loop:
#      - hostnamectl set-hostname master-node
#      - echo 192.168.0.110 master-node >> /etc/hosts
#      - echo 192.168.0.111 worker-node-1 >> /etc/hosts
#      - echo 192.168.0.112  worker-node-2 >> /etc/hosts

   - name: add DNS string
     lineinfile:
      dest: /etc/hosts
#      search_string: 'master-node'
#      regexp: "{{ item.regexp }}"
      line: "{{ item }}"
     loop: 
      - '192.168.0.110 master-node'
      - '192.168.0.111 worker-node-1'
      - '192.168.0.112 worker-node-2'

   - name: Install yum-utils
     yum:
      name: yum-utils
      state: present
            
   - name: Add Docker Repository
     ansible.builtin.command: "yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo"
   
   - name: Add Kubernetes Repository
     yum_repository:
      name: kubernetes
      description: Kubernetes
      enabled: true
      gpgcheck: true
      baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
      gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg   
               
   - name: install packages
     yum:
      name: 
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-compose-plugin
        - kubelet
        - kubeadm
        - kubectl
      state: present
              
   - name: Docker run 
     shell: " {{ item }}"
     loop:
      - systemctl start kubelet && systemctl enable --now kubelet
      - systemctl start docker && systemctl enable docker
     
     

   - name: Disable SELinux and update firewall rules 
     shell: " {{ item }}"
     loop:
      - sudo setenforce 0
      - sudo sed -i "s/^SELINUX=enforcing$/SELINUX=permissive/" /etc/selinux/config
      - swapoff -a

   - name: firewalld configuration k8s_master
     firewalld:
      port: "{{ item }}"
      permanent: yes
      state: enabled
     loop:
       - 6443/tcp
       - 2379-2380/tcp
       - 10250/tcp
       - 10251/tcp
       - 10252/tcp
       - 10255/tcp
     when: inventory_hostname in groups['k8s_master']
     

   - name: firewalld configuration K8s_Workers
     firewalld:
      port: "{{ item }}"
      permanent: yes
      state: enabled
     loop:
       - 6783/tcp
       - 10250/tcp
       - 10255/tcp
       - 30000-32767/tcp
     when: inventory_hostname in groups['K8s_Workers']
     

   - name: Update firewall rules for master
     shell: " {{ item }}"
     loop:
      - modprobe br_netfilter
      - echo '1' > /proc/sys/net/bridge/bridge-nf-call-iptables

   - name: rm cont
     ansible.builtin.command: "sudo rm /etc/containerd/config.toml"
     ignore_errors: yes
     when: inventory_hostname in groups['k8s_master']
     
#   - name: ser cont
#    ansible.builtin.command: "sudo systemctl restart containerd"
#     when: inventory_hostname in groups['k8s_master']
     
   - name: reload firewalld
     command: firewall-cmd --reload
     when: inventory_hostname in groups['k8s_master']
     
   - name: restarted containerd
     ansible.builtin.service:
        name: containerd
        state: restarted
     when: inventory_hostname in groups['k8s_master']

   - name: kubectl apply
     ansible.builtin.command: "sudo kubeadm init --apiserver-advertise-address=192.168.0.110 --pod-network-cidr=10.244.0.0/16"
#     register: output
     ignore_errors: yes
     when: inventory_hostname in groups['k8s_master']

#   - name: Print output
#     debug:
#      var: output.stdout
#     when: inventory_hostname in groups['k8s_master']
    
   - name: kubectl apply
     ansible.builtin.shell: " {{ item }}"
     loop:
      - "mkdir -p $HOME/.kube"
      - "sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config"
      - "sudo chown $(id -u):$(id -g) $HOME/.kube/config"
      - "kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml"
     when: inventory_hostname in groups['k8s_master']

   - name: get join command
     shell: kubeadm token create --print-join-command
     register: join_command_raw
     when: inventory_hostname in groups['k8s_master']

#   - name: set join command
#     set_fact:
#     join_command: "{{ join_command_raw.stdout_lines[0] }}"
#     when: inventory_hostname in groups['K8s_Workers']


   - name: join cluster
     shell: "{{ hostvars['soldier76'].join_command }} --cri-socket=/run/containerd/containerd.sock >> node_joined.txt"
     args:
      chdir: $HOME
      creates: node_joined.txt

  handlers:
   - name: reload firewalld
     command: firewall-cmd --reload

   - name: restarted containerd
     ansible.builtin.service:
        name: containerd
        state: restarted







