- hosts: Servers_ALL
  become: yes
  vars:
     source_Website: /etc/ansible/Website/
     destin_Website: /root/docker/Website/
     source_Dockerfile: /etc/ansible/Dockerfile
     destin_Dockerfile: /root/docker/Dockerfiles/
  tasks:
  - name: Update and upgrade apt packages
    become: true
    apt:
      upgrade: yes
      update_cache: yes
      cache_valid_time: 86400 #One day

  - name: Install aptitude
    apt:
      name: aptitude
      state: latest
      update_cache: true

  - name: Install required system packages
    apt:
      pkg:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - python3-pip
        - virtualenv
        - python3-setuptools
      state: latest
      update_cache: true

  - name: Add Docker GPG apt Key
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add Docker Repository
    apt_repository:
      repo: deb https://download.docker.com/linux/ubuntu focal stable
      state: present

  - name: Update apt and install docker-ce
    apt:
      name: docker-ce
      state: latest
      update_cache: true

  - name: Install Docker Module for Python
    pip:
      name: docker

  - name: copy Website 
    copy: src={{ source_Website }} dest={{ destin_Website }} 

  - name: copy Dockerfile 
    copy: src={{ source_Dockerfile }} dest={{ destin_Dockerfile }} 

  - name: Build image from Dockerfile 
    shell: docker build /root/docker/Dockerfiles/. -t test1000
    register: output

  - name: Print output
    debug:
      var: output.stdout

  - name: Docker run 
    shell: docker stop nginx_test && docker run --rm -d -p 8080:80 -u root --name nginx_test -v /root/docker/Website/:/var/www/html:ro test1000
    register: output

  - name: Print output
    debug:
      var: output.stdout