
- hosts: Server_ALL
  become: yes
#  vars:
#     source_file: ./website/index.html
#     destin_file: /var/www/html
  tasks:
  - name: Cheack and Print Linux Version
    debug: var=ansible_os_family

  - name: Debian
    apt:
#    ansible.builtin.apt:
      name=nginx
      state=latest
    when: ansible_os_family == "Debian"

  - name: RedHet
    yum: name=nginx state=latest
    when: ansible_os_family == "RedHet"

        upgrade: yes
    update_cache: yes
    cache_valid_time: 86400 #One day