- hosts: server_uat
  become: yes
  vars:
     source_file: /etc/ansible/Website/
     destin_file: /root/docker/Website/
  tasks:
  - name: Update and upgrade apt packages
    become: true
    apt:
      upgrade: yes
      update_cache: yes
      cache_valid_time: 86400 #One day


  - name: Install Docker 
    apt:
      name=docker
      state=latest


  - name: copy Website 
    copy: src={{ source_file }} dest={{ destin_file }} 

  - name: copy Dockerfile 
    copy: src=/etc/ansible/Dockerfile dest=/root/docker/Dockerfiles/


  - name: Build image from Dockerfile 
    shell: docker build /root/docker/Dockerfiles/. -t test1000
    register: output


  - name: Docker run 
    shell: docker run --rm -d -p 80:80 -u root --name nginx_test -v /root/docker/Website/:/var/www/html:ro test1000
    register: output

 
  - name: Print output
    debug:
      var: output.stdout